header {
  margin-top: -10rem;
}

.nail-bg {
  margin-top: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 62vh;
  animation: hero-image 15s infinite alternate
}

@keyframes hero-image {  
  from {
    background-image: url("./assets/gallery/hero-nails.jpg");
  }

  to {
    background-image: url("./assets/gallery/hero-nail-bottle.jpg");
  }
}

.gallery-container {
  max-width: 110rem;
  margin: 0 auto;
  
}

.gallery h1 {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 5rem;
    color: #CFB07B;
    padding: 8rem 8rem 0 8rem;

}

.gallery p {
    font-size: 2rem;
    color: white;
    padding: 0 5.5rem;
    text-align: center;
    max-width: 47rem;
    margin: 0 auto;
    padding-bottom: 8rem
}

.gallery-container {
  max-width: 100rem;
  justify-content: space-evenly;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 14rem;

}

@media only screen and (max-width: 920px) {
  .nail-bg {
    background-position: left;
    height: 55vh;
  }  

  .gallery-container {
    justify-content: space-between;
    margin: 0 auto;
    max-width: 63rem;
    padding-bottom: 12rem;;
  }
}

@media only screen and (max-width: 690px) {
  .header-logo {
    height: 5rem;
  }

  .toggle-button a {
  padding-top: 2.5rem;
  }

  .container {
    padding-top: 0.5rem;
  }
  
  .nail-bg {
    height: 45vh;
    background-position: center;
  }

  .gallery-container {
    max-width: 29.5rem;
  }

  .gallery h1 {
    font-size: 4rem;
    padding: 6rem 8rem 0 8rem;
  }

  .gallery-container {
    padding-bottom: 9rem;
  }

}

@media only screen and (max-width: 568px) {
  .nail-bg {
    height: 40vh;
  }
  
  .gallery h1 {
    font-size: 4rem;
    padding: 6rem 8rem 0 8rem;
  }

  .gallery p {
    padding-bottom: 7rem;
  }

  .gallery-container {
    padding-bottom: 8rem;
  }

}

/* TODO: Need to check this size and below */

@media only screen and (max-width: 480px) {
  /* HERO */
  .hero-container {
    background-position: left;
    height: 35vh;
  }
}

@media only screen and (max-width: 340px) {
  .nail-bg {
    background-size: cover;
    height: 40vh;
    background-position: inherit;
  }

  .gallery p {
    padding: 0 3rem 6rem 3rem;
    font-size: 1.8rem;
  }

  .gallery h1 {
    padding-top: 5rem;
    font-size: 3.4rem;
  }

}