* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #2d2c2c;
  font-family: "Lato", sans-serif;
}

/* HAMBURGER MENU ICON */
.toggle-button {
  display: none;
}

.container {
  max-width: 110rem;
  padding: 0 8rem;
  margin: 0 auto;
}

/* ***** header ****** */
header {
  background: white;
  position: fixed;
  width: 100%;
  z-index: 100;
  /* width: -webkit-fill-available; */

}

.header-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  display: flex;
}

.header-logo {
  height: 6rem;
  display: block;
}

.logo {
  padding-top: 2rem;
}

.nav-left-col {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 10rem;
  background: white;
}

.nav-right-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.nav-right-col a:link,
.nav-right-col a:visited {
  text-decoration: none;
  color: #636060;
}

.nav-right-col a:hover,
.nav-right-col a:active {
  color: #e30c52;
}

/* ********** FOOTER ******** */
.footer {
  background-color: white;
  margin: 0 auto;
}

.footer-container {
  max-width: 110rem;
  margin: 0 auto;
  background: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 8rem;
  padding-right: 6rem;
  font-weight: normal;
}

.directions {
  max-width: 110rem;
  margin: 0 auto;
  text-align: center;
}

.directions h1 {
  font-size: 3rem;
  font-weight: normal;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  padding: 4rem 8rem 3rem 8rem;

}

.right {
  display: flex;
  max-width: 70%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 2rem
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* TABLES */
.hours {
  padding-top: 1rem;
  font-size: 1.8rem;
}

.lines {
  border-bottom: 1px solid lightgray;
}

.days {
  padding-bottom: 1rem;
  padding-right: 4rem;
}

td {
  font-size: 1.4rem;
}

/* FOOTER LEFT SIDE */
.footer-facebook {
  width: 2rem;
  height: 2rem;
  margin-top: 3rem;
  fill: #e30c52;
}

.footer-facebook:hover,
.footer-facebook:active {
  fill: #212529;
}

address a:link, 
address a:visited {
  text-decoration: none;
  color: black;
}

address a:hover, 
address a:active {
  color: #e30c52;
}

address #name:hover,
address #name:active {
  color: #212529
}

address a ion-icon {
  color: #e30c52;
  padding-right: .5rem;
}

.left h2,
#name {
  font-size: 2rem;
  color:#e30c52
}

.contacts {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  display: block;
  margin-bottom: 0;
}

.copyright {
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 4rem;
  padding-bottom: 1.2rem;
}


/* iPad */
@media only screen and (max-width: 920px) {
  /* HAMBURGER MENU */
  .drop-down-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    color: white;
    background: #2d2c2c;
    margin-top: 7rem;
  }

  .drop-down-menu a:link,
  .drop-down-menu a:visited {
    text-decoration: none;
    color: white;
  }

  .toggle-button {
    display: flex;
    font-size: 3.5rem;
  }

  .toggle-button a {
    padding-top: 3rem;
  }

  .toggle-button a ion-icon {
      color: black;
  }

  .nav-right-col{
    display: none;
  }

  /* DROP DOWN MENU SELECTION */
  .menu{
    display: inline-table;
    position: absolute;
    margin-top: 10rem;
    background-color: #2d2c2c;
    width: 100%;
    left: 0rem;
    z-index: 2;
  }

  .menu .bar{
    display: block;
  }

  .menu a:link, 
  .menu a:visited {
    text-decoration: none;
    color: white;
    padding: 0.8rem 8rem;
    max-width: 110rem;
  }

  .menu a:hover, 
  .menu a:active {
    background-color: white;
    color: #e30c52;
  }

  /* FOOTER */
  .footer-container {
    flex-direction: column;
    gap: 3rem;
  }

  .iframe iframe {
    max-width: 150%;
    /* filter: invert(100%); */
  }
}

/* TABLET */
@media only screen and (max-width: 690px) {
  .container {
    padding: 0 5rem;
  }
  
  .menu a:link, 
  .menu a:visited {
    padding: 0.5rem 4.8rem;
  }
  
  .directions h1 {
    font-size: 2.5rem;
    padding: 4rem 5rem 3rem 5rem;
    text-align: left;
  }

  .footer-container {
    padding-left: 5rem;
  }
}

@media only screen and (max-width: 580px) {
  .header-logo {
    height: 5rem;
  }

  .logo {
    padding-top: 2.5rem;
  }

}

/* PHONE */
@media only screen and (max-width: 480px) {
  /* .swap {
    flex-direction: row-reverse;
  } */

  .container {
    padding: 0 3rem
  }

  .header-logo {
    align-items: center;
    height: 3.5rem;
  }

  .menu a:link, 
  .menu a:visited {
    padding: 0.5rem 3.8rem;
  }

  .logo {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .toggle-button {
    display: flex;
    align-items: center;
  }

  .toggle-button a {
    padding-top: .7rem;
  }

  .directions h1 {
    text-align: left;
    font-size: 2.4rem;
    padding-bottom: 1.6rem;
    padding-left: 3rem;
  }

  .footer-container {
    padding: 0 3rem;
  }
}

/* PHONE */
@media only screen and (max-width: 360px) {  
  .menu a:link, 
  .menu a:visited {
    padding: 0.5rem 2.8rem;
  }

  .copyright {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 330px) {
  .container {
    padding: 0 2.5rem;
  }

  .footer-container {
    padding: 0 2.5rem;
  }

  .directions h1 {
    text-align: left;
    font-size: 2.2rem;
    padding-left: 2.5rem;
    padding-bottom: 1.6rem;
  }

  .days {
    padding-bottom: 1rem;
    padding-right: 5rem;
  }
}
